
.page
{
	background: #FFD184;
}

.text-center{
  padding-bottom: 10px;
}

.main
{
	width: 100%;
	height: auto;
	border-bottom: 5px #323233 solid;
	background: #CCFFFF;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	margin-bottom: 28px;
}


.main img
{
	border-radius: 50%;
	margin-bottom: 20px;
	width: 90px;
}

.main h3
{
	font-size: 20px;
	font-weight: 700;
}

.main p
{
	margin-bottom: 0;
}

.team-back
{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px 0 15px;
	text-align: left;
	background: #fff;
	
}

.team-front
{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 10;
	background: #FFFFCC;
	padding: 15px;
	bottom: 0px;
	transition: all 0.5s ease;
}

.main:hover .team-front
{
	bottom: -200px;
	transition: all 0.5s ease;
}

.main:hover
{
	border-color: #777;
	transition: 0.5s;
}

#link{
	text-decoration: none;
	color: black;
	transition: all 0.5s ease-in-out;	
  }
  
  a:hover{
	color:brown; 
	transform: scale(1.2); 
  }

  ul {
	list-style-type: circle;
  }