body{
  height: 100vh;
  background: url('../img/hill.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nova Square', cursive;
  padding-top: 20px;
}

.profile-card{
  background-color: hsla(120, 90%, 80%, .8);
  width: 480px;
  max-width: calc(100vw - 10px);
  border-radius: 8px;
  box-shadow: hsla(0, 0%, 0%, .5) 12px 20px 80px;
}

.head, .content{
  width: 90%;
  margin: 0 auto;
  
}

.content {
  padding: 1% 1%;
  border-top: 2px solid hsla(10, 0%, 30%, .7);
}

.profile-image{
   margin-top: -70px;
}

.name-headline, .about, .links{
    background-color: hsla(120, 90%, 80%, .1);
    text-align: center;    
}

.head, .links{
  text-align: center;
  margin: auto;
}

img{
  border-radius: 40%;
  padding: 2px;
  background-color: rgb(79, 250, 79);
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}

img:hover {
  transform: scale(1.2);
  filter: grayscale(20%);
}

.profil-image{
  margin-top: -60px;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
}

a, #icon{
  text-decoration: none;
  color: blue;
  transition: all 0.5s ease-in-out;
}

a:hover{
  color:brown; 
  transform: scale(1.2); 
}

#icon:hover{
  color: brown;
  transform: scale(1.2);
}


#nagy{
  font-style: italic;
  text-align: right;
  font-size: 12px;
}

#net{
  margin-left: 35px;
}